.contact {
    &__wrapper {
        width: 100%;
    }

    &.content {
        &:after {
            background-color: rgba(255, 255, 255, 0.85);
            @media (min-width: $desktop) {
                background-color: rgba(255, 255, 255, 0.45);
            }
        }
    }

    .content__wrapper {
        justify-content: center;
    }

    &__form {
        text-align: right;
    }

    form {
        text-align: right;
        width: 100;
    }

    input,
    textarea {
        width: 100%;
        background-color: $base;
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        border-radius: 0;
    }

    input {
        height: 40px;
    }

    ::placeholder {
        color: white;
        font-family: "Raleway", sans-serif;
    }
}