@import "./variables";
@import "./grid";
@import "./header";
@import "./services";
@import "./team";

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  color: $base;
}

body,
html {
  height: 100%;
  margin: 0;
}

ul {
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

section {
  height: 100%;
  position: relative;
}

main,
.sections {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
li {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

blockquote {
  position: relative;
  font-style: italic;
  padding: 0;
  margin: 0;
  @media (min-width: $desktop) {
    font-size: 17px;
  }
  footer {
    font-weight: 800;
  }
  span {
    color: $services;
    font-weight: 800;
  }
}

body {
  &.body--about {
    .content---half {
      transform: translate(0);
      top: 146px;
      @media (min-width: $desktop) {
        top: 20%;
      }
    }

    footer {
      i {
        color: $base;
      }
    }
  }

  &.body--team {
    footer {
      i {
        color: $base;
      }
    }
  }

  &.body--services {
    .content {
      &:after {
        background-color: rgba($base, 0.9);
      }
    }

    .description {
      color: white;
    }
    @media (min-width: $desktop) {
      .nav__item {
        color: white;
      }
    }

    .title {
      color: $services;
    }

    .info,
    blockquote {
      color: white;
    }

    header {
      .logo {
        &__image {
          &--white {
            display: block;
          }

          &--basic {
            display: none;
          }
        }
      }

      .nav__m-icon span {
        background-color: white;
      }
    }

    .content---half {
      transform: translate(0);
      top: 146px;
      width: 50%;
    }
  }
}

.title {
  font-weight: 800;
  font-size: 30px;
  @media (min-width: $desktop) {
    font-size: 60px;
    font-weight: 900;
  }
}

.description {
  font-size: 14px;
  @media (min-width: $desktop) {
    font-size: 17px;
  }
}

.btn {
  color: white;
  background-color: $second;
  text-transform: uppercase;
  border: 0;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 900;
  box-sizing: border-box;
  line-height: 1;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: $base;
    color: white;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.social {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-bottom: 10px;
  display: none;
  @media (min-width: $desktop) {
    display: block;
    padding-bottom: 30px;
  }
  li {
    font-weight: normal;
    display: inline-block;
    margin: 0 10px;
    i {
      font-size: 22px;
      color: white;
    }
  }
}

.logo {
  cursor: pointer;
  position: relative;
  top: 10px;
  img {
    width: 120px;
    @media only screen and (min-width: $desktop) {
      width: 200px;
    }
  }
}

$panelcount: 5;

.content {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(white, 0.25);
  }

  &__bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    img {
      object-fit: cover;
      object-position: bottom;
      width: 100%;
      height: 100%;
    }
  }

  &__wrapper {
    z-index: 1;
    position: relative;
    height: 100%;
    .content---half {
      width: 100%;
      position: absolute;
      left: 0;
      top: 45%;
      transform: translateY(-50%);
      z-index: 1;
      text-align: center;
      padding: 0 25px;
      @media (min-width: $desktop) {
        text-align: left;
        padding: 0;
      }
      .title {
        text-align: center;
        @media (min-width: $desktop) {
          text-align: left;
        }
      }
      .description {
        text-align: left;
      }
      @media (min-width: $desktop) {
        width: 60%;
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  section {
    height: 100%;
    width: calc(100% / #{$panelcount});
    float: left;
    position: relative;
  }

  .sections {
    width: percentage($panelcount);
    height: 100%;
  }

  main {
    overflow: hidden;
    perspective: 1000;
  }
}

* {
  box-sizing: border-box;
}

.footer {
  position: fixed;
  bottom: 100%;
  width: 100%;
  bottom: 0;
  transition: all 0.4s ease-in-out;
  &.open {
    width: 50vw;
    z-index: 2;
    right: 0;
    .social {
      display: block;
    }
  }
}
