.services {
    &__item {
        background-color: white;
        width: 100%;
        height: 200px;
        padding: 15px;
        border-radius: 4px;
        display: block;
        margin-bottom: 20px;
        .subtitle {
            font-size: 20px;
            font-weight: 800;
            color: #8C8C8C;
            margin-bottom: 10px;
        }
        .description {
            font-family: "Raleway", sans-serif;
            color: #AAA9A9;
            font-weight: normal;
        }
    }

    &__info {
        @media (min-width: $desktop) {
            
        }
    }

    &__wrapper {
        position: relative;
        top: 150px;
        @media (min-width: $desktop) {
            display: flex;
            align-items: center;
        }
    }

    .slides {
        width: 100%;
        &__next {
            border: 0;
            background-image: url(./assets/arrow.svg);
            width: 33px;
            background-size: 100%;
            padding: 0;
            margin: 10px 0;
            transition: all 0.4s ease-in-out;
        }
    }

    .content---half {
        @media (min-width: $desktop) {

        }
    }

    &__slides {
        @media (min-width: $desktop) {
            width: 50%;
        }
    }
}